version: "3"
services:

  spring-app:
    env_file:
      .env
    build:
      context: .
    ports:
      - "8080:8080"

  db:
    image: postgres:12.0-alpine
    env_file:
      .env
    ports:
      - 5432:5432
    restart: always